<%= form_with url: root_path, method: :get do |form| %>
  <%= form.hidden_field :date, id: "date_picker_select_cta", value: @chosen_date.strftime("%d %b %Y"), data: { controller: "input" } %>
  <%= render PhlexUI::Popover.new(options: { trigger: "click" }) do %>
    <%= render PhlexUI::Popover::Trigger.new(class: "cursor-pointer") do %>
      <%= render ButtonComponent.new(type: :button, variant: :secondary, class: "border focus:border-primary hover:border-primary") do %>
        <span class="hidden md:block mr-2"><%=  l(@chosen_date, format: "%d %b %Y") %></span>
        <i class="uc-icon text-xl">&#xe891;</i>
      <% end %>
    <% end %>
    <%= render PhlexUI::Popover::Content.new do %>
      <%= render PhlexUI::Calendar.new(selected_date: @chosen_date, input_id: "#date_picker_select_cta", data: { action: "input->alert()" }) %>
      <div class="pt-2 border-t border-gray-100">
        <%= render ButtonComponent.new(type: "submit", class: "w-full", variant: :secondary) { t("common.update") } %>
      </div>
    <% end %>
  <% end %>
<% end %>
