<div class="py-4 lg:py-8 px-4">
  <div class="max-w-7xl mx-auto flex flex-col gap-y-4">
    <%= render CardComponent.new(class: "!p-0 flex flex-col z-10") do %>
      <div class="flex items-stretch justify-between border-b border-gray-100">
        <%= link_to root_path(date: @chosen_date - 1.day), class: "hidden md:flex px-2 items-center bg-gray-100 hover:text-primary transform rotate-180" do %>
          <i class="uc-icon text-2xl">&#xe81f;</i>
        <% end %>
        <div class="grid grid-cols-7 w-full border-x divide-x divide-gray-50 lg:divide-gray-200">
          <% (@chosen_date.beginning_of_week..@chosen_date.end_of_week).each do |given_date| %>
            <div class="relative">
              <%= link_to root_path(date: given_date), class: class_names("flex flex-col items-center lg:items-start p-2 md:p-4 lg:p-6 transition duration-300 ease-in-out",  "bg-gradient-to-t from-pink-50 lg:from-pink-100": given_date == @chosen_date) do %>
                <%= tag.i "&#xe99b".html_safe, class: class_names("absolute right-0 top-0 md:right-2 md:top-1 uc-icon text-destructive-foreground", "invisible": @time_regs_zero_min[given_date].nil?) %>
                <%= content_tag(:span, given_date.strftime("%d"), class: class_names("text-base md:text-xl lg:text-2xl font-regular text-gray-400 transition duration-300 ease-in-out", "text-gray-600 font-semibold": given_date == @chosen_date) ) %>
                <%= content_tag(:span, l(given_date, format: "%A"), class: class_names("hidden lg:block text-sm font-semibold transition duration-300 ease-in-out", "text-primary": given_date == @chosen_date) ) %>
                <%= content_tag(:span, l(given_date, format: "%a"), class: class_names("lg:hidden text-sm font-semibold transition duration-300 ease-in-out", "text-primary": given_date == @chosen_date) ) %>
              <% end %>
              <% if given_date == @chosen_date %>
                <div class="w-full h-1 bg-primary absolute bottom-0 transition duration-300 ease-in-out"></div>
              <% end %>
            </div>
          <% end %>
        </div>
        <%= link_to root_path(date: @chosen_date + 1.day), class: "hidden md:flex px-2 items-center bg-gray-100 hover:text-primary" do %>
          <i class="uc-icon text-2xl">&#xe81f;</i>
        <% end %>
      </div>
      <div id="time_regs_list" class="p-4 flex flex-col gap-y-4">
        <% if @time_regs.empty? %>
          <%= render partial: "time_regs/empty" %>
        <% else %>
          <% @time_regs.each do |time_reg| %>
            <%= render partial: "time_regs/time_reg", locals: { time_reg: time_reg } %>
          <% end %>
        <% end %>
      </div>
      <div class="bg-gray-50 p-4 flex flex-col lg:flex-row gap-4 lg:gap-8 justify-end">
        <%= content_tag(:div, data: { controller: "refresh-minutes", refresh_minutes_active_value: @active_time_reg.present?, refresh_minutes_minutes_value: @total_minutes_day, refresh_minutes_format_value: "HH:mm" }) do %>
          <i class="uc-icon text-base text-gray-500">&#xe8bb;</i>
          <span class="text-gray-500 font-regular">
            <%= @chosen_date == Date.today ? t("common.today_total") : t("common.day_total") %>:
          </span>
          <span class="text-gray-600 font-semibold" data-refresh-minutes-target="minutes">
            <%= format_duration(@total_minutes_day) %>
          </span>
        <% end %>
        <%= content_tag(:div, data: { controller: "refresh-minutes", refresh_minutes_active_value: @active_time_reg.present?, refresh_minutes_minutes_value: @total_minutes_week, refresh_minutes_format_value: "HH:mm"}) do %>
          <i class="uc-icon text-base text-gray-500">&#xe891;</i>
          <span class="text-gray-500 font-regular">
            <%= t("common.week_total") %>:
          </span>
          <span class="text-gray-600 font-semibold" data-refresh-minutes-target="minutes">
            <%= format_duration(@total_minutes_week) %>
          </span>
        <% end %>
      </div>
    <% end %>
    </div>
</div>
