<%= content_tag(:div, id: dom_id(time_reg), data: { controller: "refresh-minutes", refresh_minutes_active_value: time_reg.active?, refresh_minutes_minutes_value: time_reg.current_minutes, refresh_minutes_format_value: "H:mm" }, class: "shadow-sm rounded-md p-4 flex flex-col lg:flex-row lg:items-center lg:justify-between gap-y-4") do %>
  <div class="flex flex-row lg:items-center gap-x-4">
    <div class="bg-gray-50 border border-gray-100 rounded flex justify-center items-center w-8 h-8 relative">
      <i class="uc-icon text-base text-gray-400">&#xe8bb;</i>
      <% if time_reg.active? %>
        <div class="absolute -bottom-2 -right-2 bg-yellow-500 rounded-full w-4 h-4 flex justify-center items-center">
          <%= image_tag "hour_glass.svg", class: "animate-spin w-2.5" %>
        </div>
      <% end %>
    </div>
    <div class="flex flex-row items-start w-full gap-x-2 justify-between">
      <div class="flex flex-col">
        <div class="flex flex-col lg:flex-row lg:items-center text-sm lg:text-base text-gray-600 gap-x-2">
          <span><%= time_reg.task.name %></span>
          <span class="hidden lg:block">-</span>
          <span class="font-semibold"><%= time_reg.project.name %></span>
        </div>
        <span class="text-sm text-gray-800"><%= time_reg.project.client.name %></span>
        <span class="text-xs text-gray-500"><%= time_reg.notes %></span>
      </div>
      <%= render PhlexUI::Badge.new(variant: :gray, class: "!rounded-full flex gap-x-1") do %>
        <i class="uc-icon text-sm text-gray-600">&#xe8bb;</i>
        <span data-refresh-minutes-target="minutes">
          <%= convert_time_int(time_reg.current_minutes) %>
        </span>
      <% end %>
    </div>
  </div>
  <div class="flex gap-x-4 justify-end">

    <%= render ButtonComponent.new(path: time_reg_toggle_active_path(time_reg), method: :patch, class: "gap-x-2", variant: time_reg.active? ? :secondary : :outline, disabled: time_reg.date_worked != Date.today && !time_reg.active?) do %>
    <% if time_reg.active? %>
      <i class="uc-icon text-base">&#xeb59;</i>
    <% else %>
      <i class="uc-icon text-base">&#xead1;</i>
    <% end %>
    <span class="hidden lg:block"><%= time_reg.active? ? t("common.stop") : t("common.start") %></span>
  <% end %>

    <%= render ButtonComponent.new(path: edit_modal_time_reg_path(time_reg, date: @chosen_date), method: :put, class: "gap-x-2", variant: :outline) do %>
      <i class="uc-icon text-base">&#xe972;</i>
      <span class="hidden lg:block"><%= t("common.edit") %></span>
    <% end %>

    <%- turbo_body = "
      #{t("notice.do_you_want_to_proceed_with_deletion")}
      <span class='font-semibold text-primary'>#{time_reg.project.name}</span>
      #{t("notice.with_a_task")}
      <span class='font-semibold text-primary'>#{time_reg.task.name}</span>
      and
      <span class='font-semibold text-primary'>#{convert_time_int(time_reg.minutes)}</span>
      #{t("notice.logged_action_cannot_be_undone")}
    " %>

    <%= render ButtonComponent.new(variant: :destructive, method: :delete, path: time_reg_path(time_reg), form: { data: { turbo_confirm: turbo_body } }) do %>
      <i class="uc-icon text-base">&#xeb97;</i>
      <span class="hidden lg:block"><%= t("common.delete") %></span>
    <% end %>
  </div>
<% end %>
