<%# TODO: Convert into reusable turbo_confirm component that can be triggered with `turbo_confirm` and remove this duplication %>
<%= render PhlexUI::AlertDialog.new(open: true, data: { controller: "custom-dialog" }) do %>
  <%= render PhlexUI::AlertDialog::Trigger.new(class: "hidden", data: { custom_dialog_target: "trigger" }) do %>
    <%= render PhlexUI::Button.new { "Show dialog" } %>
  <% end %>
  <%= render PhlexUI::AlertDialog::Content.new do %>
    <%= turbo_frame_tag :modal do %>
      <%= render PhlexUI::AlertDialog::Header.new do %>
        <%= render PhlexUI::AlertDialog::Title.new { t("notice.are_you_sure") } %>
        <%= render PhlexUI::AlertDialog::Description.new do  %>
          <span>
            Do you want to proceed with the deletion of the time registration for the project
            <span class="font-semibold text-primary"><%= @time_reg.project.name %></span>,
            <%= t("notice.with_a_task") %>
            <span class="font-semibold text-primary"><%= @time_reg.task.name %></span>
            <%= t("common.and") %>
            <span class="font-semibold text-primary"><%= convert_time_int(@time_reg.minutes) %></span>
            <%= t("notice.logged_action_cannot_be_undone") %>
          </span>
        <% end %>
      <% end %>
      <%= render PhlexUI::AlertDialog::Footer.new do %>
        <%= render PhlexUI::AlertDialog::Cancel.new(class: "!border-gray-100 !h-12") { "Cancel" } %>
        <%= render ButtonComponent.new(variant: :destructive, path: time_reg_path(@time_reg), method: :delete) { "Delete"} %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
