<%= content_tag(:div, class: "py-4 flex justify-between items-center", id: dom_id(assigned_task)) do %>
  <div class="flex flex-row gap-x-2 items-center">
    <div class="bg-gray-50 rounded-full w-10 h-10 flex justify-center items-center">
      <i class="uc-icon text-lg">&#xe8f2;</i>
    </div>
    <div class="flex flex-col gap-y-1">
      <div class="flex flex-row gap-x-2">
        <span class="text-sm text-gray-500 font-medium"><%= assigned_task.task.name %></span>
        <%= render PhlexUI::Badge.new(variant: assigned_task.rate.zero? ? :gray : :purple, class: "!rounded-full flex gap-x-1 w-fit") do %>
          <span><%= assigned_task.rate.zero? ? t("common.project_rate") : "Custom Rate"%></span>
        <% end %>
      </div>
      <div class="text-sm">
        <span class="text-gray-400">NOK</span>
        <span class="font-medium"><%= assigned_task.rate.zero? ? assigned_task.project.rate_nok : assigned_task.rate_nok %></span>
      </div>
    </div>
  </div>
  <div class="flex flex-row gap-x-2">
    <%= render ButtonComponent.new(path: edit_modal_workspace_project_assigned_task_path(id: assigned_task.id, project_id: assigned_task.project_id), method: :post, variant: :outline) do %>
      <i class="uc-icon text-gray-500">&#xe972;</i>
    <% end %>
    <%- has_time_regs = assigned_task.time_regs.any? %>
    <%- turbo_body = has_time_regs ? "The task <span class='font-semibold text-primary'>#{assigned_task.task.name}</span> has time registrations and can not be removed from this project." : "#{t("notice.removal_of_the_task")} <span class='font-semibold text-primary'>#{assigned_task.task.name}</span> #{t("notice.cannot_be_undone")}" %>

    <%= render TooltipComponent.new(note: has_time_regs ? "The task has recorded time registrations, can not be removed from this project." : nil) do %>
      <%= render ButtonComponent.new(variant: :outline, method: :delete, path: workspace_project_assigned_task_path(id: assigned_task.id, project_id: assigned_task.project_id), disabled: has_time_regs, form: { data: { turbo_confirm: turbo_body } }) do %>
        <i class="uc-icon">&#xeb97;</i>
      <% end %>
    <% end %>
  </div>
<% end %>
