
<%= render PhlexUI::Table::Body.new(id: dom_id(client), class: "border-b") do %>
  <%= render PhlexUI::Table::Row.new(class: "bg-gray-50") do %>
    <%= render PhlexUI::Table::Cell.new do %>
      <%= link_to workspace_client_path(client), class: "text-primary hover:underline " do %>
        <div class="flex flex-row items-center gap-x-1">
          <span class="font-medium text-primary text-lg"><%= client.name %></span>
        </div>
      <% end %>
    <% end %>

    <%= render PhlexUI::Table::Cell.new(class: "w-36") do %>
    <% end %>

    <%= render PhlexUI::Table::Cell.new(class: "w-0") do %>
      <div class="flex flex-row gap-x-2">
        <%= render TooltipComponent.new(note: t("common.edit")) do %>
          <%= render ButtonComponent.new(path: edit_modal_workspace_client_path(client), method: :post, variant: :secondary) do %>
            <i class="uc-icon">&#xe972;</i>
          <% end %>
        <% end %>
        <%= render TooltipComponent.new(note: t("common.new_project")) do %>
          <%= render ButtonComponent.new(path: new_workspace_project_path(client_id: client.id), method: :get, variant: :secondary, class: "relative") do %>
              <i class="uc-icon">&#xead3;</i>
            <% if client.projects.empty? %>
              <span class="animate-ping absolute right-0 top-0 w-2 h-2 opacity-60 rounded-full bg-primary"></span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <%= render partial: "workspace/projects/project", collection: client.projects %>
<% end %>
