<div id="clients_collection">
  <%= render RubyUI::Table.new(id: :organization_clients) do %>
    <%= render RubyUI::TableHeader.new do %>
      <%= render RubyUI::TableRow.new(class: "text-gray-500" ) do %>
        <%= render RubyUI::TableHead.new { t("common.clients_and_projects") } %>
        <%= render RubyUI::TableHead.new { t("common.rate") } %>
        <%= render RubyUI::TableHead.new { t("common.actions") } %>
      <% end %>
    <% end %>
      <%= render partial: "workspace/projects/client", collection: clients %>
  <% end %>
</div>