<%= render RubyUI::TableBody.new(id: dom_id(client), class: "border-b") do %>
  <%= render RubyUI::TableRow.new do %>
    <%= render RubyUI::TableCell.new do %>
      <%= link_to workspace_client_path(client), class: "text-primary-600 underline" do %>
        <div class="flex flex-row items-center gap-x-1">
          <span class="font-medium text-md"><%= client.name %></span>
        </div>
      <% end %>
    <% end %>

    <%= render RubyUI::TableCell.new(class: "") %>
      <%= render RubyUI::TableCell.new(class: "flex justify-end gap-2") do %>
        <%= render RubyUI::Tooltip.new do %>
          <%= render RubyUI::TooltipTrigger.new do %>
            <%= render ButtonComponent.new(path: new_workspace_project_path(client_id: client.id), method: :get, variant: :outline, icon: true, class: "flex") do %>
              <i class="uc-icon">&#xead3;</i>
            <% end %>
          <% end %>
          <%= render RubyUI::TooltipContent.new(class: "bg-white") do %>
            <%= render RubyUI::Text.new do %>
              <%= t("common.new_project") %>
            <% end %>
          <% end %>
      <% end %>
        <%= render RubyUI::Tooltip.new do %>
          <%= render RubyUI::TooltipTrigger.new do %>
            <%= render ButtonComponent.new(path: edit_modal_workspace_client_path(client), method: :post, variant: :outline, icon: true, class: "flex") do %>
              <i class="uc-icon text-gray-500">&#xe972;</i>
            <% end %>
          <% end %>
          <%= render RubyUI::TooltipContent.new(class: "bg-white") do %>
            <%= render RubyUI::Text.new do %>
              <%= t("common.update") %>
            <% end %>
          <% end %>
        <% end %>

        <%- has_projects = client.projects.any? %>
        <%- turbo_body = "#{t("common.deletion_of_the_client")} <span class='font-semibold text-primary'>#{client.name}</span>? #{t("common.cannot_be_undone")}" %>
        <%= render RubyUI::Tooltip.new do %>
          <%= render RubyUI::TooltipTrigger.new do %>
            <%= render ButtonComponent.new(variant: :outline, method: :delete, icon: true, path: workspace_client_path(client), class: "flex", disabled: has_projects, form: { data: { turbo_confirm: turbo_body } }) do %>
              <i class="uc-icon">&#xeb97;</i>
            <% end %>
          <% end %>
          <%= render RubyUI::TooltipContent.new(class: "bg-white") do %>
            <%= render RubyUI::Text.new do %>
              <%= t("common.delete") %>
            <% end %>
          <% end %>
        <% end %>
    <% end %>
  <% end %>

  <% if client.projects.any? %>
    <%= render partial: "workspace/projects/project", collection: client.projects %>
  <% else %>
    <%= render RubyUI::TableRow.new do %>
      <%= render RubyUI::TableCell.new(colspan: 3, class: "text-left text-gray-500 py-4") do %>
        <span class="pl-2"><%= t("common.no_projects_yet") %></span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
