<div class="flex flex-col gap-y-8">
  <div class="flex flex-row justify-between items-start border-b border-gray-100 py-3">
    <div class="flex flex-row items-center gap-x-3">
      <%= link_to_back_or workspace_projects_path, class: "w-10 h-10 rounded-full bg-gray-100 hover:bg-gray-200 flex justify-center items-center transition duration-300 ease-in-out" do %>
        <i class="uc-icon text-2xl">&#xe833;</i>
      <% end %>
      <div class="flex flex-col">
        <div class="font-medium text-gray-600 text-lg flex items-center gap-x-2">
          <span><%= @project.name %></span>
          <%= render RubyUI::Badge.new(variant: :purple, class: "!rounded-full flex gap-x-1") { t("common.project") } %>
        </div>
        <span class="text-gray-500 text-sm font-regular pr-2"><%= @project.description %></span>
      </div>
    </div>
    <div class="flex flex-row gap-2">
      <%= render ButtonComponent.new(path: edit_workspace_project_path(@project), method: :get, variant: :outline) do %>
        <span class="hidden lg:block mr-2"><%= t("common.edit")%></span>
        <i class="uc-icon">&#xe972;</i>
      <% end %>

      <%- has_time_regs = @project.time_regs.any? %>
      <%- turbo_body = has_time_regs ? "The project <span class='font-semibold text-primary'>#{@project.name}</span> has time registrations and can not be deleted." : "#{t("notice.deletion_of_he_project")} <span class='font-semibold text-primary'>#{@project.name}</span>, #{t("notice.cannot_be_undone")}" %>
      <%= render TooltipComponent.new(note: has_time_regs ? "The Project has recorded time registrations, can not be deleted." : nil) do %>
        <%= render ButtonComponent.new(variant: :outline, method: :delete, path: workspace_project_path(@project), disabled: has_time_regs, form: { data: { turbo_confirm: turbo_body } }) do %>
          <span class="hidden lg:block mr-2"><%= t("common.delete")%></span>
          <i class="uc-icon">&#xeb97;</i>
        <% end %>
      <% end %>

      <%= render ButtonComponent.new(path: reports_path(filter: { project_ids: [ @project.id ] }), method: :get, variant: :outline) do %>
        <span class="hidden lg:block mr-2"><%= t("common.report")%></span>
        <i class="uc-icon">&#xea07;</i>
      <% end %>
    </div>
  </div>
  <div class="mt-4 flex flex-col gap-y-8 lg:gap-y-12 overflow-y-auto px-4">
    <div class="divide-y divide-gray-100 flex flex-col">
      <div>
        <span class="text-base text-gray-600 font-medium uppercase"><%= t("common.information")%></span>
      </div>
      <div class="text-sm text-gray-600 flex justify-between items-center w-full py-4">
        <span class="font-regular"><%= t("common.client")%></span>
        <%= link_to @project.client.name, workspace_client_path(@project.client), class: "font-semibold underline text-primary" %>
      </div>
      <div class="text-sm text-gray-600 flex justify-between items-center w-full py-4">
        <span class="font-regular"><%= t("common.rate")%></span>
        <span class="font-semibold"><%= @currency %> <%= @project.rate_currency %></span>
      </div>
      <div class="text-sm text-gray-600 flex justify-between items-center w-full py-4">
        <span class="font-regular"><%= t("common.billing_status")%></span>
        <%= render RubyUI::Badge.new(variant: @project.billable ? :green : :gray, class: "!rounded-full flex gap-x-1") do %>
          <span><%= @project.billable ? t("common.billable") : t("common.non_billable") %></span>
        <% end %>
      </div>
      <div class="text-sm text-gray-600 flex justify-between items-center w-full py-4">
        <span class="font-regular"><%= t("common.created")%></span>
        <span class="font-semibold"><%= l(@project.created_at, format: "%A, %d %B %Y") %></span>
      </div>
    </div>
    <%= render RubyUI::Tabs.new(default: params[:tab] || "tasks") do %>
      <%= render RubyUI::TabsList.new(class: "border-b h-fit w-full !p-0 rounded-none !justify-start") do %>
        <%= render RubyUI::TabsTrigger.new(value: "tasks", class!: "h-full py-4 transition duration-300 ease-in-out px-4 data-[state=active]:text-primary-600  data-[state=active]:font-medium border-b-2 border-transparent data-[state=active]:border-primary-600") do %>
          <div class="flex flex-row items-center gap-x-2 pb-2">
            <span class="font-regular text-base"><%= t("common.tasks")%></span>
            <div class="bg-gray-100 border border-gray-200 w-6 h-6 flex justify-center items-center rounded-md">
              <span class="text-gray-700 text-xs font-semibold"><%= @pagy_active_assigned_tasks.count %></span>
            </div>
          </div>
        <% end %>
        <%= render RubyUI::TabsTrigger.new(value: "members", class!: "h-full py-4 transition duration-300 ease-in-out px-4 data-[state=active]:text-primary-600  data-[state=active]:font-medium border-b-2 border-transparent data-[state=active]:border-primary-600") do %>
          <div class="flex flex-row items-center gap-x-2 pb-2">
            <span class="font-regular text-base"><%= t("common.members")%></span>
            <div class="bg-gray-100 border border-gray-200 w-6 h-6 flex justify-center items-center rounded-md">
              <span class="text-gray-700 text-xs font-semibold"><%= @pagy_members.count %></span>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= render RubyUI::TabsContent.new(value: "tasks") do %>
        <%= content_tag(:div, id: "#{dom_id(@project)}_assigned_tasks", class: "divide-y divide-gray-100") do %>
          <%= render partial: "workspace/projects/assigned_task", collection:  @active_assigned_tasks %>
        <% end %>
        <%= render PaginationComponent.new(pagy: @pagy_active_assigned_tasks, path: workspace_project_path(@project), params: { tab: "tasks" }) if @pagy_active_assigned_tasks.pages > 1 %>
      <% end %>

      <%= render RubyUI::TabsContent.new(value: "members") do %>
        <p class="mt-6"><%= raw t("common.users_project_access") %></p>
        <%= content_tag(:div, id: "#{dom_id(@project)}_members", class: "divide-y divide-gray-100") do %>
          <%= render partial: "workspace/projects/member", collection: @members %>
          <% if @members.empty? %>
            <%= render partial: "shared/empty_illustration", locals: { call_to_action: { text: t("common.add_member"), path: edit_workspace_project_path(@project), method: :get } } %>
          <% end %>
        <% end %>
        <%= render PaginationComponent.new(pagy: @pagy_members, path: workspace_project_path(@project), params: { tab: "members" }) if @pagy_members.pages > 1 %>
      <% end %>
    <% end %>
  </div>
</div>
