<div data-controller="report-edit" class="flex flex-col p-4 print:p-0">
  <div class="w-full">
    <% if structured_report_data[:children].present? %>
      <div class="gap-y-8 lg:gap-y-16 print:gap-y-2">
        <div class="border-b border-gray-100 pb-4 mb-4 print:mb-0">
          <span class="text-sm font-medium text-gray-500 print:text-gray-700 uppercase"><%= time_frame(form_data.start_date, form_data.end_date) if structured_report_data[:children].present? %></span>
        </div>
        <table class="w-full">
          <tbody>
            <%= render partial: "reports/details/row", locals: { children: structured_report_data[:children], level: 0 } %>
            <tr class="flex justify-between py-4 print:py-2 border-t border-gray-100">
              <td></td>
              <td>
                <span class="font-medium text-xl print:text-lg"><%= t("common.total") %></span>
                <span class="font-semibold text-2xl print:text-lg text-primary print:text-gray-900"><%= minutes_to_float structured_report_data[:total] %></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="flex flex-col items-center justify-center py-8 lg:py-16 gap-y-4">
        <%= image_tag "empty.svg" %>
        <div class="gap-y-2 flex flex-col text-center w-full md:w-3/4 lg:w-1/2 mx-auto">
          <span class="font-semibold text-lg"><%= t('common.no_time_registrations') %></span>
          <span class="text-base text-gray-500"><%= t('common.No_registrations_were_found') %></span>
        </div>
        <div>
          <%= render ButtonComponent.new(path: report_path, method: :get, variant: :secondary) do %>
            <span class="mr-2"><%= t('common.reset_filter') %></span>
            <i class="uc-icon text-xl">&#xeb8c;</i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
