<div class="flex flex-col gap-y-4 w-full">
  <%# TODO: let's revamp our logo at the right time  %>
  <div class="flex gap-x-4 items-center">
    <svg class="svg-icon" width="35px" height="35px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
      <path fill="currentColor" d="M257.563 25.156c353.16 276.87 16.918 408.895-87.875 293.25l-40.75 37.125 50.812 50.345c217.562 181.363 524.73-252.058 77.813-380.72zM110.75 364.28c-5.525 1.065-8.975 2.957-11.313 5.25-1.956 1.922-3.248 4.556-4.25 7.564l55.188 52.844c5.468-1.008 9.264-2.796 11.28-4.688 1.997-1.872 3.095-3.864 3.095-7.53l-54-53.44zm-24.72 30.314L30.407 445.28C13.67 472.28 45.1 506.478 81.5 489.94l51.53-50.282-47-45.062z" />
    </svg>
  </div>
  <span class="text-xl font-semibold text-gray-600">Forgot your password?</span>
  <div class="flex flex-col mt-4 gap-y-2">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), class: "w-full") do |form| %>
      <%= render AlertComponent.new(variant: :destructive, title: "Unable to proceed!", message: resource.errors.full_messages) if resource.errors.any? %>
      <div class="w-full flex gap-y-4 flex-col mt-4">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="flex flex-col w-full gap-y-4 lg:gap-y-8">
          <%= render PhlexUI::Form::Item.new(class: "flex flex-col") do  %>
            <%= render PhlexUI::Label.new { "Email" } %>
            <%= form.email_field :email, autofocus: true, autocomplete: "email", required: true, placeholder: "Email address", class: "border-gray-200 rounded-md w-full" %>
          <% end %>
        </div>
        <%= render ButtonComponent.new(type: "submit") { "Send instructions" } %>
        <div class="text-sm  w-full text-center">
          <span>Can't find what you're looking for?</span>
          <%= link_to "Continue to login", new_session_path(resource_name), class: "font-semibold text-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
