<div class="py-4 lg:py-6 px-4">
  <div class="max-w-7xl mx-auto flex flex-col gap-y-4 print:gap-y-2">
    <div class="flex justify-between items-center py-3 print:py-1">
      <div>
        <span class="text-base lg:text-lg"><%= t('common.report') %></span>
      </div>
      <%= render ButtonComponent.new(class: "print:!hidden", variant: :secondary, data: { controller: "print", action: "print#togglePrintLayout" }) do %>
        <span class="mr-2"><%= t('common.print') %></span>
        <i class="uc-icon text-lg">&#xeaea;</i>
      <% end %>
    </div>
    <%= render CardComponent.new(class: "flex flex-col !p-4 print:!p-0 z-10 print:!border-none print:!shadow-none") do %>
      <div class="flex flex-row items-center border-b w-full print:!hidden">
        <% @filter.tabs.each do |tab| %>
          <%= link_to tab[:label], organizations_reports_path(filter: { category: tab[:value], **@filter.current_time_range }), class: class_names("h-full py-6 lg:py-8 transition duration-300 ease-in-out px-4", @filter.active_tab === tab[:value] ? "text-primary font-semibold border-b-2 border-primary": "hover:text-primary text-gray-600") %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
