<%= render PhlexUI::Table::Row.new(id: dom_id(client)) do %>
  <%= render PhlexUI::Table::Cell.new { client.name } %>
  <%= render PhlexUI::Table::Cell.new { client.description } %>
  <%= render PhlexUI::Table::Cell.new { client.created_at.strftime("%A, %d %B %Y") } %>
  <%= render PhlexUI::Table::Cell.new do %>
    <div class="flex flex-row gap-x-2">
      <%= render ButtonComponent.new(path: edit_modal_workspace_client_path(client), method: :post, variant: :outline, class: "!py-3") do %>
        <i class="uc-icon">&#xe972;</i>
      <% end %>
      <%- turbo_body = client.projects.any? ? "The client <span class='font-semibold text-primary'>#{client.name}</span> has active associated projects. Please remove all projects before deleting the client." : "Do you want to proceed with the deletion of the project <span class='font-semibold text-primary'>#{client.name}</span>, This action cannot be undone." %>
      <%= render ButtonComponent.new(variant: :outline, method: :delete, path: workspace_client_path(client), disabled: client.projects.any?, form: { data: { turbo_confirm: turbo_body } }) do %>
        <i class="uc-icon">&#xeb97;</i>
      <% end %>
    </div>
  <% end %>
<% end %>
