<%= render PhlexUI::Table::Row.new(id: dom_id(client)) do %>
  <%= render PhlexUI::Table::Cell.new { client.name } %>
  <%= render PhlexUI::Table::Cell.new { client.description } %>
  <%= render PhlexUI::Table::Cell.new { l(client.created_at, format: "%A, %d %B %Y") } %>
  <%= render PhlexUI::Table::Cell.new do %>
    <div class="flex flex-row gap-x-2">
      <%= render ButtonComponent.new(path: edit_modal_workspace_client_path(client), method: :post, variant: :outline, class: "!py-3") do %>
        <i class="uc-icon">&#xe972;</i>
      <% end %>
      <%- has_projects = client.projects.any? %>
      <%- turbo_body = has_projects ? "The client <span class='font-semibold text-primary'>#{client.name}</span> has active associated projects. Please remove all projects before deleting the client." : "Do you want to proceed with the deletion of the client <span class='font-semibold text-primary'>#{client.name}</span>, This action cannot be undone." %>

      <%= render TooltipComponent.new(note: has_projects ? "The Client has associated projects, can not be deleted." : nil) do %>
        <%= render ButtonComponent.new(variant: :outline, method: :delete, path: workspace_client_path(client), disabled: has_projects, form: { data: { turbo_confirm: turbo_body } }) do %>
          <i class="uc-icon">&#xeb97;</i>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
