<%# TODO: Convert into reusable turbo_confirm component that can be triggered with `turbo_confirm` and remove this duplication %>
<%= render PhlexUI::AlertDialog.new(open: true, data: { controller: "custom-dialog" }) do %>
  <%= render PhlexUI::AlertDialog::Trigger.new(class: "hidden", data: { custom_dialog_target: "trigger" }) do %>
    <%= render PhlexUI::Button.new { "Show dialog" } %>
  <% end %>
  <%= render PhlexUI::AlertDialog::Content.new do %>
    <%= turbo_frame_tag :modal do %>
      <%= render PhlexUI::AlertDialog::Header.new do %>
        <%= render PhlexUI::AlertDialog::Title.new { @client.projects.any? ? t("common.unable_to_proceed") : t("notice.are_you_sure") } %>
        <%= render PhlexUI::AlertDialog::Description.new do  %>
          <% if @client.projects.any? %>
            <span>
              <%= t("common.the_client")%> <span class="font-semibold text-primary"><%= @client.name %></span> <%= t("common.active_associated_projects")%>
            </span>
          <% else %>
            <span>
              <%= t("common.proceed_with_the_deletion")%> <span class="font-semibold text-primary"><%= @client.name %></span>, <%= t("common.cannot_be_undone")%>
            </span>
          <% end %>
        <% end %>
      <% end %>
      <%= render PhlexUI::AlertDialog::Footer.new do %>
        <%= render PhlexUI::AlertDialog::Cancel.new(class: "!border-gray-100 !h-12") { t("common.cancel") } %>
        <%= render ButtonComponent.new(variant: :destructive, path: workspace_client_path(@client), method: :delete, disabled: @client.projects.any?) { t("common.continue") } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
