<%# TODO: Convert into reusable turbo_confirm component that can be triggered with `turbo_confirm` and remove this duplication %>
<%= render PhlexUI::AlertDialog.new(open: true, data: { controller: "custom-dialog" }) do %>
  <%= render PhlexUI::AlertDialog::Trigger.new(class: "hidden", data: { custom_dialog_target: "trigger" }) do %>
    <%= render PhlexUI::Button.new { "Show dialog" } %>
  <% end %>
  <%= render PhlexUI::AlertDialog::Content.new do %>
    <%= turbo_frame_tag :modal do %>
      <%= render PhlexUI::AlertDialog::Header.new do %>
        <%= render PhlexUI::AlertDialog::Title.new { @client.projects.any? ? "Unable to proceed" : "Are you sure?" } %>
        <%= render PhlexUI::AlertDialog::Description.new do  %>
          <% if @client.projects.any? %>
            <span>
              The client <span class="font-semibold text-primary"><%= @client.name %></span> has active associated projects. Please remove all projects before deleting the client.
            </span>
          <% else %>
            <span>
              Do you want to proceed with the deletion of the project <span class="font-semibold text-primary"><%= @client.name %></span>, This action cannot be undone.
            </span>
          <% end %>
        <% end %>
      <% end %>
      <%= render PhlexUI::AlertDialog::Footer.new do %>
        <%= render PhlexUI::AlertDialog::Cancel.new(class: "!border-gray-100") { "Cancel" } %>
        <%= render ButtonComponent.new(variant: :destructive, path: workspace_client_path(@client), method: :delete, disabled: @client.projects.any?) { "Continue"} %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
