<%= content_tag :div, id: "#{dom_id(@client)}_show" do %>
  <div>
    <div class="flex flex-wrap justify-between gap-y-3 py-3 border-b border-gray-100" id=1>
      <div class="grid">
        <div class="flex flex-row items-center gap-x-3">
          <div class="flex flex-col">
            <div class="font-medium text-gray-600 text-lg flex items-center gap-x-2">
              <span><%= @client.name %></span>
              <%= render RubyUI::Badge.new(variant: :purple, class: "!rounded-full flex gap-x-1") { t("common.client") } %>
            </div>
          </div>
        </div>

        <div class="mt-3">
          <%= render RubyUI::Breadcrumb::Breadcrumb.new do %>
            <%= render RubyUI::Breadcrumb::BreadcrumbList.new do %>
              <%= render RubyUI::Breadcrumb::BreadcrumbItem.new do %>
                <%= render RubyUI::Breadcrumb::BreadcrumbLink.new(href: workspace_projects_path) { t("common.clients") } %>
              <% end %>
              <%= render RubyUI::Breadcrumb::BreadcrumbSeparator.new %>
              <%= render RubyUI::Breadcrumb::BreadcrumbItem.new do %>
                <%= render RubyUI::Breadcrumb::BreadcrumbPage.new { @client.name } %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="flex flex-wrap gap-y-1 gap-x-3">
        <%= render ButtonComponent.new(path: edit_modal_workspace_client_path(@client), method: :post, variant: :outline, class: "!py-3") do %>
          <span class="hidden lg:block mr-2"><%= t("common.edit") %></span>
          <i class="uc-icon">&#xe972;</i>
        <% end %>
        <%- has_projects = @client.projects.any? %>
        <%- turbo_body = "#{t("common.deletion_of_the_client")} <span class='font-semibold text-primary'>#{@client.name}</span>? #{t("common.cannot_be_undone")}" %>
        <%= render TooltipComponent.new(note: has_projects ? t("common.the_client_has_associated_projects") : nil) do %>
          <%= render ButtonComponent.new(variant: :outline, method: :delete, path: workspace_client_path(@client), disabled: has_projects, form: { data: { turbo_confirm: turbo_body } }) do %>
            <span class="hidden lg:block mr-2"><%= t("common.delete") %></span>
            <i class="uc-icon">&#xeb97;</i>
          <% end %>
        <% end %>
        <%= render ButtonComponent.new(path: new_workspace_project_path(client_id: @client.id), method: :get, variant: :secondary, class: "relative") do %>
          <span class="hidden sm:block mr-2"><%= t("common.new_project").titleize %></span>
          <i class="uc-icon">&#xead3;</i>
          <% if @client.projects.empty? %>
            <span class="animate-ping absolute right-0 top-0 w-2 h-2 rounded-full bg-primary"></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


  <%= simple_format @client.description, class: "my-6" %>

  <% if @client.projects.any? %>
    <div class="hide-table-overflow">
      <%= render RubyUI::Table.new do %>
        <%= render RubyUI::TableRow.new(class: "text-gray-500" ) do %>
          <%= render RubyUI::TableHead.new { t("common.projects") } %>
          <%= render RubyUI::TableHead.new { t("common.rate") } %>
          <%= render RubyUI::TableHead.new { t("common.actions") } %>
        <% end %>
        <%= render RubyUI::TableBody.new(id: :organization_projects) do %>
          <%= render partial: "workspace/projects/project", collection: @client.projects %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
