<% content_for :title, t("privacy_policy.title") %>

<div>
  <div class="border-b border-gray-200 shadow">
    <%= render partial: "landing_page/nav", locals: { variant: :secondary } %>
  </div>
  <section class="section-container w-full flex flex-col items-center py-8 lg:py-12 border-b border-gray-200">
    <div class="font-regular text-lg leading-8 text-gray-600 px-4 lg:px-0">
      <h1 class="text-primary font-semibold mb-4 text-2xl">
        <%= t("privacy_policy.title") %>
      </h1>
      <% t("privacy_policy.content").each do |content| %>
        <p class="mb-4">
          <%= content.html_safe %>
        </p>
      <% end %>
      <% t("privacy_policy.sections").each do |section| %>
        <div class="mt-10 2xl:mt-12">
          <h2 class="text-primary font-semibold mb-2 text-xl">
            <%= section[:title] %>
          </h2>
          <% section[:content]&.each do |content| %>
            <p class="mb-4">
              <%= content.html_safe %>
            </p>
          <% end %>
          <% section[:list_items]&.each do |list_item| %>
            <li>
              <%= list_item %>
            </li>
          <% end %>
          <% section[:additional_content]&.each do |content| %>
            <p class="mb-4">
              <%= content.html_safe %>
            </p>
          <% end %>
          <% section[:details]&.each do |detail| %>
            <div><%= detail[:label] %>: <span><%= detail[:value] %></span></div>
          <% end %>
          <% section[:items]&.each do |item| %>
            <div class="flex flex-col mb-4">
              <span class="text-primary font-semibold my-2 text-lg"><%= item[:title] %></span>
              <% item[:content].each do |sub_content| %>
                <span>
                  <%= sub_content.html_safe %>
                </span>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
</div>
