<section class="section-container mt-24 lg:mt-48">
  <div class="flex flex-col py-4 lg:py-8">
    <div class="flex flex-col gap-y-2 text-center max-w-3xl mx-auto">
      <span class="text-new-secondary font-medium text-base">Why use Stemplin?</span>
      <span class="text-4xl font-semibold text-new-primary">Simple, Quick, Affordable</span>
      <span class="text-lg text-new-secondary-text mt-2 font-regular">Our platform simplifies work time tracking. Team members log hours easily on various tasks, helping managers oversee projects. When it's time to bill clients, the data is ready to use. It's straightforward for everyone and makes billing hassle-free.</span>
    </div>
    <div class="mt-16">
      <%= render PhlexUI::Tabs.new(default: "option_1", class: "grid grid-cols-2") do %>
        <%= render PhlexUI::Tabs::List.new(class!: "flex flex-col divide-y divide-gray-200 pr-4 lg:pr-12") do %>
          <%= render PhlexUI::Tabs::Trigger.new(value: "option_1", class!: "w-full flex flex-col service-tab hover:bg-gray-100 p-2 rounded-md") do %>
            <div class="flex flex-col text-left gap-y-4 py-4">
              <div class="flex flex-row items-center justify-between">
                <div class="flex flex-row gap-x-4 items-center">
                  <span class="text-new-secondary text-sm">01</span>
                  <span class="text-new-primary-text text-2xl font-medium service-tab-title">Easy time logging</span>
                </div>
                <i class="uc-icon text-xl service-tab-arrow">&#xe836;</i>
              </div>
              <div class="service-tab-desc">
                <span class="text-new-secondary-text text-base">Team members effortlessly record work hours on various projects, utilizing a user-friendly time-tracking application.</span>
              </div>
            </div>
          <% end %>
          <%= render PhlexUI::Tabs::Trigger.new(value: "option_2", class!: "w-full flex flex-col service-tab hover:bg-gray-100 p-2 rounded-md") do %>
            <div class="flex flex-col text-left gap-y-4 py-4">
              <div class="flex flex-row items-center justify-between">
                <div class="flex flex-row gap-x-4 items-center">
                  <span class="text-new-secondary text-sm">02</span>
                  <span class="text-new-primary-text text-2xl font-medium service-tab-title">Easy time logging</span>
                </div>
                <i class="uc-icon text-xl service-tab-arrow">&#xe836;</i>
              </div>
              <div class="service-tab-desc">
                <span class="text-new-secondary-text text-base">Team members effortlessly record work hours on various projects, utilizing a user-friendly time-tracking application.</span>
              </div>
            </div>
          <% end %>
          <%= render PhlexUI::Tabs::Trigger.new(value: "option_3", class!: "w-full flex flex-col service-tab hover:bg-gray-100 p-2 rounded-md") do %>
            <div class="flex flex-col text-left gap-y-4 py-4">
              <div class="flex flex-row items-center justify-between">
                <div class="flex flex-row gap-x-4 items-center">
                  <span class="text-new-secondary text-sm">03</span>
                  <span class="text-new-primary-text text-2xl font-medium service-tab-title">Easy time logging</span>
                </div>
                <i class="uc-icon text-xl service-tab-arrow">&#xe836;</i>
              </div>
              <div class="service-tab-desc">
                <span class="text-new-secondary-text text-base">Team members effortlessly record work hours on various projects, utilizing a user-friendly time-tracking application.</span>
              </div>
            </div>
          <% end %>
          <%= render PhlexUI::Tabs::Trigger.new(value: "option_4", class!: "w-full flex flex-col service-tab hover:bg-gray-100 p-2 rounded-md") do %>
            <div class="flex flex-col text-left gap-y-4 py-4">
              <div class="flex flex-row items-center justify-between">
                <div class="flex flex-row gap-x-4 items-center">
                  <span class="text-new-secondary text-sm">04</span>
                  <span class="text-new-primary-text text-2xl font-medium service-tab-title">Easy time logging</span>
                </div>
                <i class="uc-icon text-xl service-tab-arrow">&#xe836;</i>
              </div>
              <div class="service-tab-desc">
                <span class="text-new-secondary-text text-base">Team members effortlessly record work hours on various projects, utilizing a user-friendly time-tracking application.</span>
              </div>
            </div>
          <% end %>
        <% end %>

        <%= render PhlexUI::Tabs::Content.new(value: "option_1") do %>
          Option 1 content
        <% end %>
        <%= render PhlexUI::Tabs::Content.new(value: "option_2") do %>
          Option 2 content
        <% end %>
        <%= render PhlexUI::Tabs::Content.new(value: "option_3") do %>
          Option 3 content
        <% end %>
        <%= render PhlexUI::Tabs::Content.new(value: "option_3") do %>
          Option 4content
        <% end %>
      <% end %>
    </div>
  </div>
</section>
