<div class="hero-section">
  <%= render partial: "landing_page/nav" %>
  <%= render partial: "landing_page/hero_section" %>
  <%= render partial: "landing_page/services/index" %>
</div>
<%= render partial: "landing_page/get_started" %>
<%= render partial: "landing_page/testimonials" %>
<%= render partial: "landing_page/footer" %>
