<div class="hero-section pb-[27rem] relative shadow-xl skew-section">
  <div class="un-skew-content">
    <%= render partial: "landing_page/nav" %>
    <%= render partial: "landing_page/hero_section" %>
  </div>
</div>
<div class="services-section pb-12 -mt-48 cards-pattern-section">
  <%= render partial: "landing_page/services/index" %>
  <div class="bg-primary lg:mt-16">
    <%= render partial: "landing_page/get_started/index" %>
  </div>
</div>
<%= render partial: "landing_page/testimonials/index" %>
