<%= render PhlexUI::Dialog.new(open: true, data: { controller: "custom-dialog" }) do %>
  <%= render PhlexUI::Dialog::Trigger.new(class: "hidden", data: { custom_dialog_target: "trigger" }) do %>
    <%= render PhlexUI::Button.new { "Open Dialog" } %>
  <% end %>
  <%= render PhlexUI::Dialog::Content.new(class: "bg-white") do %>
    <%= turbo_frame_tag :modal do %>
      <%= form_with url: add_to_organization_workspace_teams_path, method: :post, scope: user do |form| %>
        <div class="flex flex-col gap-y-4">
          <span class="font-semibold text-gray-600 text-lg"> <%= t("common.add_member") %></span>
          <%= render AlertComponent.new(variant: :destructive, title: t("alert.unable_to_proceed"), message: flash[:error]) if flash[:error].present?  %>
          <%= content_tag(:div, class: "flex flex-col gap-y-4") do %>
            <%= render PhlexUI::Form::Item.new(class: "flex flex-col") do  %>
              <%= render PhlexUI::Label.new { t("common.email") } %>
              <%= form.email_field :email, required: true, class: "border-gray-200 rounded-md w-full" %>
              <% user.errors.full_messages_for(:email).each do |message|%>
                <%= render PhlexUI::InputError.new(class: "w-full text-red-600 italic text-xs") { message }  %>
              <% end %>
            <% end %>
          <% end %>
          <%= render PhlexUI::Form::Item.new do  %>
            <%= render PhlexUI::Label.new { t("common.role") } %>
            <%= render PhlexUI::Hint.new { t("common.select_organization_user") } %>
            <%= form.select :role, roles.map { |role| [t("access_info.role." + role), role] }, { prompt: t("common.select_role") }, required: true, class: "border-gray-200 rounded-md w-full" %>
          <% end %>
        </div>
        <%= render PhlexUI::Dialog::Footer.new(class: "mt-4 pt-4 border-t border-gray-100") do %>
          <%= render ButtonComponent.new(variant: :outline, data: { action: 'click->dismissable#dismiss' }) { t("common.cancel") } %>
          <%= render ButtonComponent.new(type: :submit) { t("common.add") } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
