<%= render PhlexUI::Table::Row.new(id: dom_id(user)) do %>
  <%= render PhlexUI::Table::Cell.new { user.name } %>
  <%= render PhlexUI::Table::Cell.new { user.email } %>
  <%= render PhlexUI::Table::Cell.new { user.created_at.strftime("%A, %d %B %Y") } %>
  <%= render PhlexUI::Table::Cell.new do %>
    <div class="flex flex-row gap-x-2">
      <%= render ButtonComponent.new(path: delete_confirmation_workspace_team_path(user), method: :post, variant: :outline, class: "!py-3") do %>
        <i class="uc-icon">&#xeb97;</i>
      <% end %>
    </div>
  <% end %>
<% end %>
