<turbo-frame id="turbo-new-task">
  <div class="flex flex-col items-center">
      <%= form_with model: [project, assigned_task] do |form| %>
      <div class="max-w-md md:min-w-custom35 flex justify-normal h-20">
          <div class="flex justify-between items-center">
          <%= form.collection_select :task_id, tasks, :id, :name, { include_blank: false },
              { class: 'pr-40 rounded-md p-2 border border-gray-300 mr-2 focus:ring-1 
                focus:ring-seaGreenDark focus:border-seaGreenDark ring-offset-1 ring-offset-white' 
              }  
          %>
          <% assigned_task.errors.full_messages_for(:name).each do |message|%>
              <div class="text-red-600 italic text-xs mt-1">
              <%= message %>
              </div>
          <% end %>
          </div>
          <div class="actions text-center flex items-center ml-4">
          <span class="rounded bg-seaGreen p-2 hover:bg-seaGreenDark text-white">
              <%= form.submit t('common.assign_task'), data: {turbo_frame: "_top"}, class: '' %>
          </span>
          </div>  
      </div>
      <p class="text-sm"><%= t('common.edit_task_on_project') %> <%= link_to t('common.here'),  tasks_path, data: {turbo_frame: "_top"}, class: 'text-blue-600'%></p>
      <% end %>
  </div>
  <%= form_with model: task do |f| %>
      <div data-controller="visibility">
          <h1 class="font-medium text-lg italic mt-8"><%= t('common.create_task') %></h1>
          <%= button_tag t('common.create_New_Task'), type: "button", 
            class: "rounded bg-seaGreen p-2 hover:bg-seaGreenDark text-white mt-2", 
            data: { action: "click->visibility#toggleTargets" } 
          %>
          <div class="pt-10 hidden" data-visibility-target="hideable">
          <h2 ><%= t('common.name_of_task') %>:</h2>
          <%= f.hidden_field :project_id, value: project.id %>
          <%= f.text_field :name, 
            class: "w-full rounded-md p-2 border-2 mr-8 border-black" 
          %>
          <%= f.submit t('common.save_task'), 
            class: "rounded bg-seaGreen p-2 hover:bg-seaGreenDark text-white mt-5"
          %>
          </div>
      </div>
  <% end %>
</turbo-frame>
