<%= form_with url: update_password_onboarding_index_path, method: :put, scope: user do |form| %>
  <div class="flex flex-col gap-y-4">
    <%= content_tag(:div, class: "flex flex-col gap-y-4") do %>
      <%= render PhlexUI::Form::Item.new(class: "flex flex-col") do  %>
        <%= render PhlexUI::Label.new { "Current Password (generated)" } %>
        <%= form.password_field :current_password, class: "border-gray-200 rounded-md w-full" %>
        <% user.errors.full_messages_for(:current_password).each do |message|%>
          <%= render PhlexUI::InputError.new(class: "w-full text-red-600 italic text-xs") { message }  %>
        <% end %>
      <% end %>
      <%= render PhlexUI::Form::Item.new(class: "flex flex-col") do  %>
        <%= render PhlexUI::Label.new { "New Password" } %>
        <%= form.password_field :password, class: "border-gray-200 rounded-md w-full" %>
        <% user.errors.full_messages_for(:password).each do |message|%>
          <%= render PhlexUI::InputError.new(class: "w-full text-red-600 italic text-xs") { message }  %>
        <% end %>
      <% end %>
      <%= render PhlexUI::Form::Item.new(class: "flex flex-col") do  %>
        <%= render PhlexUI::Label.new { "Confirm Password" } %>
        <%= form.password_field :password_confirmation, class: "border-gray-200 rounded-md w-full" %>
        <% user.errors.full_messages_for(:password_confirmation).each do |message|%>
          <%= render PhlexUI::InputError.new(class: "w-full text-red-600 italic text-xs") { message }  %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="mt-8">
    <%= render ButtonComponent.new(type: :submit, class: "w-full") { "Change password" } %>
    <div class="text-sm  w-full text-center mt-4">
      <span>Prefer to keep your current password?</span>
      <%= link_to "Skip this step", skip_and_verify_account_onboarding_index_path, class: "font-semibold text-primary" %>
    </div>
  </div>
<% end %>
