<div class="flex flex-col w-full">
  <span class="text-xl font-semibold text-gray-600"><%= t("login_page.sign_up") %></span>
  <span class="text-sm mb-5 text-gray-400"><%= resource.email %></span>

  <div class="flex flex-col mt-4 gap-y-2">
    <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :invitation_token, readonly: true %>
      <%= f.hidden_field :locale, value: I18n.locale %>

      <div class="w-full flex flex-col gap-y-4 lg:gap-y-8">
        <%= render RubyUI::FormField.new(class: "flex flex-col") do %>
          <%= render RubyUI::FormFieldLabel.new { t("registration.first_name") } %>
          <%= f.text_field :first_name, class: "border-gray-200 rounded-md w-full placeholder:text-gray-400", autofocus: true, required: true %>
          <% resource.errors.full_messages_for(:first_name).each do |message|%>
            <%= render RubyUI::FormFieldError.new(class: "w-full text-red-600 italic text-xs") { message }  %>
          <% end %>
        <% end %>

        <%= render RubyUI::FormField.new(class: "flex flex-col") do %>
          <%= render RubyUI::FormFieldLabel.new { t("registration.last_name") } %>
          <%= f.text_field :last_name, class: "border-gray-200 rounded-md w-full placeholder:text-gray-400", required: true %>
          <% resource.errors.full_messages_for(:last_name).each do |message|%>
            <%= render RubyUI::FormFieldError.new(class: "w-full text-red-600 italic text-xs") { message }  %>
          <% end %>
        <% end %>

        <%= render RubyUI::FormField.new(class: "flex flex-col") do %>
          <%= render RubyUI::FormFieldLabel.new { t("registration.password") } %>
          <%= f.password_field :password, class: "border-gray-200 rounded-md w-full placeholder:text-gray-400", required: true %>
          <% resource.errors.full_messages_for(:password).each do |message|%>
            <%= render RubyUI::FormFieldError.new(class: "w-full text-red-600 italic text-xs") { message }  %>
          <% end %>
        <% end %>

        <%= render RubyUI::FormField.new(class: "flex flex-col") do %>
          <%= render RubyUI::FormFieldLabel.new { t("registration.confirm_password") } %>
          <%= f.password_field :password_confirmation, class: "border-gray-200 rounded-md w-full placeholder:text-gray-400", required: true %>
          <% resource.errors.full_messages_for(:password_confirmation).each do |message|%>
            <%= render RubyUI::FormFieldError.new(class: "w-full text-red-600 italic text-xs") { message }  %>
          <% end %>
        <% end %>

      <%= render ButtonComponent.new(type: :submit) { t("registration.sign_up") } %>
      </div>
    <% end %>
  </div>
</div>
