<div class="py-4 lg:py-6 px-4">
  <div class="max-w-7xl mx-auto flex flex-col gap-y-4 print:gap-y-2">
    <div class="flex gap-4 justify-between items-center py-3 print:py-1">
      <div class="flex flex-row items-center gap-x-2">
        <% unless @filter.selected_elements_names.blank? %>
          <%# TODO: let's move this to a presenter %>
          <%#
            This balances preserving recent navigation history for simple cases(i.e: going back to project page) and
            maintaining a clear entry point with current filters for complex navigation scenarios.
            It provides a way to reset to the reports root with current filters when the
            user has been exploring multiple report views, as :back doesn't retain this
            entire navigation history
          %>
          <% if should_render_back_button? %>
            <%= link_to "javascript:history.back()", class: "w-10 h-10 rounded-full bg-gray-100 hover:bg-gray-200 flex justify-center items-center transition duration-300 ease-in-out print:hidden" do %>
              <i class="uc-icon text-2xl">&#xe833;</i>
            <% end %>
          <% end %>
        <% end %>
        <div class="text-base lg:text-lg flex items-center gap-x-1">
          <span><%= t('common.report') %></span>
          <div class="hidden print:block">
            <span>-</span>
            <%= render partial: "reports/top_nav/selected_time_range" %>
          </div>
        </div>
      </div>

      <%= render ButtonComponent.new(class: "ml-auto print:!hidden", path: detailed_reports_path(filter: @filter.to_h), method: :get, variant: :secondary) do %>
        <span class="mr-2"><%= t("task.detailed_report") %></span>
        <i class="uc-icon text-lg">&#xe9af;</i>
      <% end %>

      <%= render ButtonComponent.new(class: "print:!hidden", variant: :primary, data: { controller: "print", action: "print#togglePrintLayout" }) do %>
        <span class="mr-2"><%= t('common.print') %></span>
        <i class="uc-icon text-lg">&#xeaea;</i>
      <% end %>
    </div>
    <%= render CardComponent.new(class: "flex flex-col !p-4 print:!p-0 z-10 print:!border-none print:!shadow-none") do %>
      <%= render partial: "reports/summary", locals:{ selected_elements_names: @filter.selected_elements_names } %>
      <div class="flex flex-row items-center border-b w-full overflow-y-auto">
        <% @filter.tabs.each do |tab| %>
          <%= link_to tab[:label], reports_path(filter: @filter.to_h(category: tab[:value])), class: class_names("h-full py-6 lg:py-8 transition duration-300 ease-in-out px-4", @filter.active_tab === tab[:value] ? "text-primary-600 font-semibold border-b-2 border-primary-600": "hover:text-primary-600 text-gray-600 print:hidden") %>
        <% end %>
      </div>
      <div class="p-4">
        <%= render RubyUI::Table.new do %>
          <%= render RubyUI::TableHeader.new do %>
            <%= render RubyUI::TableRow.new do %>
              <%= render RubyUI::TableHead.new { t("common.name") } %>
              <%= render RubyUI::TableHead.new { t("common.hours") } %>
              <%= render RubyUI::TableHead.new { t("common.billable_hours") } %>
              <%= render RubyUI::TableHead.new { t("common.billable_amount") } %>
            <% end %>
          <% end %>
          <%= render RubyUI::TableBody.new do %>
            <% @results.grouped.each do |result| %>
              <%= render partial: "reports/row", locals: { result: result } %>
            <% end %>
            <%= render RubyUI::TableRow.new(class: "!py-4") do %>
              <%= render RubyUI::TableCell.new(class: "text-sm font-segoe-regular") { t("common.total") } %>
              <%= render RubyUI::TableCell.new(class: "font-semibold text-lg text-gray-600") { minutes_to_float @summary.total_minutes } %>
              <%= render RubyUI::TableCell.new(class: "font-semibold text-lg text-gray-600") { minutes_to_float @summary.total_billable_minutes } %>
              <%= render RubyUI::TableCell.new do %>
                <div><span class="font-semibold text-lg text-primary-600"><%= @summary.total_billable_amount_currency %></span>
                <span class="text-sm font-semibold text-gray-400"><%= @currency %></span></div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
