<div class="w-full px-2 md:px-8">
  <h1 class="text-4xl font-medium">
    Detailed time report:  <span class="font-normal"><%= time_frame(start_date, end_date) %></span>
  </h1>
  <hr class="border-t-[2px] rounded-xl border-stone-300 my-4 print-color-adjust">

  <div class="flex flex-col my-6 w-full space-y-10 md:flex-row print:flex-row">
    <div class="flex-1 flex flex-col justify-center">
      <h2 class="text-xl">Total billable hours</h2>
      <span class="font-bold text-4xl">
        <%= minutes_to_float detailed_report_data.total_billable_minutes %>
      </span>
      <h2 class="text-xl">Total hours</h2>
      <span class="text-2xl">
        <%= minutes_to_float detailed_report_data.total_minutes %>
      </span>
    </div>

    <div class="flex-1 flex text-xl">
      <div class="grid grid-cols-2 h-full w-fit">
        <span>
          <%= pluralize detailed_report_data.clients.count, 'Client' %>
        </span>
        <span class="font-bold">
          <%= concat_names detailed_report_data.clients %>
        </span>
        <span>
          <%= pluralize detailed_report_data.projects.count, 'Project' %>
        </span>
        <span class="font-bold">
          <%= concat_names detailed_report_data.projects %>
        </span>
        <span>
          <%= pluralize detailed_report_data.tasks.count, 'Task' %>
        </span>
        <span class="font-bold">
          <%= concat_names detailed_report_data.tasks %>
        </span>
        <span>
          <%= pluralize detailed_report_data.users.count, 'Person' %>
        </span>
        <span class="font-bold">
          <%= concat_names detailed_report_data.users %>
        </span>
      </div>
    </div>
  </div>

  <table class="w-full">
    <thead>
      <tr class="bg-stone-200 border-y-2 border-stone-300 text-stone-700 print-color-adjust">
        <td class="pl-5">Client</td>
        <td>Project</td>
        <td>Task</td>
        <td>Person</td>
        <td class="w-[6rem] text-end">Hours</td>
        <td class="w-6"></td>
      </tr>
    </thead>
    <tbody>
      <% structured_report_data.each do |key, value| %>
        <tr class="bg-stone-200 border-b-2 border-stone-300 text-stone-700 print-color-adjust">
          <td class="pl-5"><%= key %></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-end"><%= minutes_to_float value.sum { |v| v.minutes } %></td>
          <td></td>
        </tr>
        <% value.each do |child| %>
          <tr class="bg-tastyWhiteLite">
            <td class="pl-5"><%= child.project.client.name %></td>
            <td>
              <%= child.project.name %>
            </td>
            <td>
              <div class="flex flex-col gap-3">
                <span><%= child.task.name %></span>
              </div>
            </td>
            <td><%= child.user.name %></td>
            <td class="text-end"><%= minutes_to_float child.minutes %></td>
            <td></td>
          </tr>
          <tr class="border-b-2 last:border-b-0 border-stone-300 bg-tastyWhiteLite">
            <td></td>
            <td></td>
            <td class="py-3"><span class="text-gray-500 text-sm"><%= child.notes %></span></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    <tfoot>
      <tr class="bg-tastyWhiteLite">
        <td></td>
        <td></td>
        <td></td>
        <td class="text-end">
          <span class="font-bold pr-3">Total</span>
        </td>
        <td class="text-end">
          <span class="font-bold"><%= minutes_to_float detailed_report_data.total_minutes %></span>
        </td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>
