<%= turbo_frame_tag "report_form" do %>
    <%= form_with scope: :report, url: report_path, method: :put do |f| %>
      <div class="flex flex-col gap-5">
        <div class="grid gap-3 grid-cols-2">
          <h2 class="text-xl">
            Clients
          </h2>
          <div class="flex items-center gap-2">
            <%= f.collection_check_boxes :client_ids, form_data.selectable_clients, :id, :name, include_hidden: false do |cb| %>
              <%= filter_check_box(cb, form_data.selected_client_ids.include?(cb.value)) %>
            <% end %>
          </div>

          <h2 class="text-xl">
            Projects
          </h2>
          <div class="flex items-center gap-2">
            <%= f.collection_check_boxes :project_ids, form_data.selectable_projects, :id, :name, include_hidden: false do |cb| %>
              <%= filter_check_box(cb, form_data.selected_project_ids.include?(cb.value)) %>
            <% end %>
          </div>

          <h2 class="text-xl">
            Tasks
          </h2>
          <div class="flex items-center gap-2">
            <%= f.collection_check_boxes :task_ids, form_data.selectable_tasks, :id, :name, include_hidden: false do |cb| %>
              <%= filter_check_box(cb, form_data.selected_task_ids.include?(cb.value)) %>
            <% end %>
          </div>

          <h2 class="text-xl">
            Users
          </h2>
          <div class="flex items-center gap-2">
            <%= f.collection_check_boxes :user_ids, form_data.selectable_users, :id, :name, include_hidden: false do |cb| %>
              <%= filter_check_box(cb, form_data.selected_user_ids.include?(cb.value)) %>
            <% end %>
          </div>

          <h2 class="text-xl">
            Date range
          </h2>
          <div>
            <%= f.date_field :start_date, value: form_data.selected_start_date %>
            <%= f.date_field :end_date, value: form_data.selected_end_date %>
          </div>
        </div>
        <%= f.submit "Get report", class: "bg-seaGreen text-white w-fit px-3 py-2 rounded-md self-center" %>
      </div>
    <% end %>

  <%= render partial: 'reports/show',
             locals: {
               title: "Report",
               start_date: form_data.selected_start_date,
               end_date: form_data.selected_end_date,
               structured_report_data: structured_report_data,
               detailed_report_path: nil,
             }
  %>
<% end %>