<%= turbo_frame_tag "report_form" do %>
    <%= form_with scope: :report, url: report_path, method: :put, data: { controller: :form }, class: "print:hidden" do |f| %>
      <div class="flex flex-col gap-5 mb-8">
        <div class="grid gap-3 grid-cols-2">
          <h2 class="text-xl">
            Clients
          </h2>
          <div class="flex items-center gap-2">
            <%= f.collection_check_boxes :client_ids, form_data.selectable_clients, :id, :name, include_hidden: false do |cb| %>
              <%= filter_check_box(cb, form_data.selected_client_ids.include?(cb.value), {"data-action": "form#submit"}) %>
            <% end %>
          </div>

          <h2 class="text-xl">
            Projects
          </h2>
          <div class="flex items-center gap-2">
            <%= f.collection_check_boxes :project_ids, form_data.selectable_projects, :id, :name, include_hidden: false do |cb| %>
              <%= filter_check_box(cb, form_data.selected_project_ids.include?(cb.value), {"data-action": "form#submit"}) %>
            <% end %>
          </div>

          <h2 class="text-xl">
            Tasks
          </h2>
          <div class="flex items-center gap-2">
            <%= f.collection_check_boxes :task_ids, form_data.selectable_tasks, :id, :name, include_hidden: false do |cb| %>
              <%= filter_check_box(cb, form_data.selected_task_ids.include?(cb.value), {"data-action": "form#submit"}) %>
            <% end %>
          </div>

          <h2 class="text-xl">
            Users
          </h2>
          <div class="flex items-center gap-2">
            <%= f.collection_check_boxes :user_ids, form_data.selectable_users, :id, :name, include_hidden: false do |cb| %>
              <%= filter_check_box(cb, form_data.selected_user_ids.include?(cb.value), {"data-action": "form#submit"}) %>
            <% end %>
          </div>

          <h2 class="text-xl">
            Date range
          </h2>
          <div>
            <%= f.date_field :start_date, value: form_data.selected_start_date, "data-action": "form#submit" %>
            <%= f.date_field :end_date, value: form_data.selected_end_date, "data-action": "form#submit" %>
          </div>
          <%= label_tag(:detailed_report, class:"col-start-2 flex justify-between items-center px-6 py-3 gap-3 text-xl w-fit bg-white") do %>
            Show detailed report
            <%= check_box_tag(:detailed_report, 1, form_data.detailed_report, { class: "h-6 w-6", "data-action": "form#submit" }) %>
          <% end %>
        </div>
      </div>
    <% end %>

  <div class="min-w-[900px] print:w-[100vw] print:min-w-min">
    <% if form_data.detailed_report %>
      <%= render partial: "reports/detailed", locals: {
        structured_report_data: structured_report_data,
        detailed_report_data: detailed_report_data,
        start_date: form_data.selected_start_date,
        end_date: form_data.selected_end_date,
      }
      %>
    <% else %>
      <%= render partial: 'reports/show',
                 locals: {
                   title: "Report",
                   start_date: form_data.selected_start_date,
                   end_date: form_data.selected_end_date,
                   structured_report_data: structured_report_data,
                   detailed_report_path: nil,
                 }
      %>
    <% end %>
  </div>
<% end %>