<div class="flex flex-col w-full items-center pt-4 mb-20 max-w-[1200px] mx-auto" data-controller="report-edit">
  <div class="flex flex-col w-full px-2 sm:flex-row sm:justify-between lg:min-w-custom60">
    <div>
      <div class="flex justify-between items-baseline gap-5">
        <h1 class="font-medium italic text-2xl"><%= title %></h1>
        <%= link_to "See detailed report", detailed_project_report_project_reports_path, class: "text-blue-800 underline" %>
      </div>
      <h2 class="text-2xl mb-4">
        <%= structured_report_data[:title] %>
      </h2>
      <span class="font-bold">
        <% if report.timeframe == "allTime" %>
          (All time)
        <% else %>
          (
            <%= report.date_start.to_formatted_s(:long) %>
          -
            <%= report.date_end.to_formatted_s(:long) %>
          )
        <% end %>
      </span>
    </div>

    <div class="flex flex-wrap gap-3 items-center">
      <!-- button for viewing the edit form -->
      <button class="flex justify-center px-5 py-2 h-fit w-full rounded bg-blue-200 hover:bg-blue-300 sm:w-fit" data-action="click->report-edit#editReport">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 011.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.56.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.893.149c-.425.07-.765.383-.93.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 01-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.397.165-.71.505-.781.929l-.149.894c-.09.542-.56.94-1.11.94h-1.094c-.55 0-1.019-.398-1.11-.94l-.148-.894c-.071-.424-.384-.764-.781-.93-.398-.164-.854-.142-1.204.108l-.738.527c-.447.32-1.06.269-1.45-.12l-.773-.774a1.125 1.125 0 01-.12-1.45l.527-.737c.25-.35.273-.806.108-1.204-.165-.397-.505-.71-.93-.78l-.894-.15c-.542-.09-.94-.56-.94-1.109v-1.094c0-.55.398-1.02.94-1.11l.894-.149c.424-.07.765-.383.93-.78.165-.398.143-.854-.107-1.204l-.527-.738a1.125 1.125 0 01.12-1.45l.773-.773a1.125 1.125 0 011.45-.12l.737.527c.35.25.807.272 1.204.107.397-.165.71-.505.78-.929l.15-.894z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
        <span class="ml-1">Edit</span>
      </button>
      <%= form_with url: { action: :export, format: :csv }, method: :post, class: "w-full sm:w-fit" do |form| %>
        <%= form.hidden_field :time_regs_hash, value: time_regs.to_json %>
        <%= form.submit 'Export to CSV', class: 'px-5 py-2 h-fit w-full bg-seaGreen hover:bg-seaGreenDark rounded text-white' %>
      <% end %>
    </div>
  </div>

  <div class="<%= "hidden" if show_edit_form == false %>" data-target="report-edit.toggleDiv">
    <%= render partial: 'edit' %>
  </div>

  <div class="w-full mt-5 px-4">
    <%= render partial: 'reports/simple_report_data', locals: { structured_report_data: structured_report_data } %>
  </div>
</div>