<div data-controller="report-edit">
  <div class="flex flex-col w-full px-2 sm:flex-row sm:justify-between">
    <div>
      <div class="flex justify-between items-baseline gap-5">
        <h1 class="font-medium italic text-2xl"><%= title %></h1>
        <%= link_to "See detailed report", detailed_report_path, class: "text-blue-800 underline" if detailed_report_path %>
      </div>
      <h2 class="text-2xl mb-4">
        <%= structured_report_data[:title] %>
      </h2>
      <span class="font-bold">
        <%= time_frame(start_date, end_date) if structured_report_data[:children].present? %>
      </span>
    </div>
  </div>

  <div class="w-full mt-5 px-4">
    <%= render partial: 'reports/simple_report_data', locals: { structured_report_data: structured_report_data } %>
  </div>
</div>