<% if children.present? %>
  <% children.each do |group| %>
    <tr class="flex justify-between border-b border-slate-400 py-1.5 pr-6 pl-[<%= (level * 10) + 25 %>px] bg-slate-<%= level * 100 %>">
      <td>
        <span>
          <%= group[:title] %>
        </span>
      </td>
      <td>
        <span>
          <%= minutes_to_float group[:minutes] %>
        </span>
      </td>
    </tr>
    <% if group[:children].present? %>
      <%= render partial: "simple_report_section", locals: { children: group[:children], level: level + 1 } %>
    <% end %>
  <% end %>
<% end %>
