<% content_for :title, t("common.reports") %>

<%= render partial: "reports/details/filter", locals: { filter: @filter, form_data: @form_data } %>
<div class="py-4 lg:py-6 px-4">
  <div class="max-w-7xl mx-auto flex flex-col gap-y-4 print:gap-y-2">
    <div class="flex justify-between items-center py-3 print:py-1">
      <%= link_to reports_path(filter: @filter.to_h), class: "print:!hidden w-10 h-10 rounded-full bg-gray-100 hover:bg-gray-200 flex justify-center items-center transition duration-300 ease-in-out" do %>
        <i class="uc-icon text-2xl">&#xe833;</i>
      <% end %>
      <div class="ml-5 mr-auto print:m-0">
        <span class="text-base lg:text-lg"><%= t('common.report') %></span>
      </div>
      <div class="flex flex-row gap-x-2">
        <% if current_user.organization_admin? %>
          <%= render ButtonComponent.new(class: "print:!hidden", variant: :outline, path: new_modal_time_regs_path(date: @chosen_date, provide_user: true), method: :post) do %>
            <span class="mr-2"><%= t('common.add_time_registration') %></span>
            <i class="uc-icon text-lg">&#xe9c7;</i>
          <% end %>
        <% end %>
        <%= render ButtonComponent.new(class: "print:!hidden", variant: :secondary, data: { controller: "print", action: "print#togglePrintLayout" }) do %>
          <span class="mr-2"><%= t('common.print') %></span>
          <i class="uc-icon text-lg">&#xeaea;</i>
        <% end %>
      </div>
    </div>
    <%= render CardComponent.new(class: "flex flex-col !p-4 print:!p-0 z-10 print:!border-none print:!shadow-none") do %>
      <%= render partial: "reports/details/extended", locals: {
        structured_report_data: @structured_report_data,
        detailed_report_data: @detailed_report_data,
      } %>
  <% end %>
  </div>
</div>
