<header class="border-b border-gray-200 shadow-sm px-4 print:hidden">
  <nav class="max-w-7xl mx-auto flex justify-between items-center">
    <%= render "organizations/switch", user: current_user %>
    <% if user_signed_in? %>
      <div class="hidden lg:flex h-full gap-x-12">
        <%= link_to t("common.home"), time_regs_path, class: class_names("h-full py-6 lg:py-8 transition duration-300 ease-in-out", is_page_active?([root_path, time_regs_path]) ? "text-primary font-semibold border-b-2 border-primary": "hover:text-primary text-gray-600") %>
        <% if current_user.organization_admin? %>
          <%= link_to t("common.workspace"), workspace_projects_path, class: class_names("h-full py-6 lg:py-8 transition duration-300 ease-in-out", is_page_active?([workspace_clients_path, workspace_tasks_path, workspace_projects_path, workspace_teams_path]) ? "text-primary font-semibold border-b-2 border-primary": "hover:text-primary text-gray-600") %>
        <% end %>
        <% if current_user.organization_admin? %>
          <%= link_to t("common.reports"), organizations_reports_path, class: class_names("h-full py-6 lg:py-8 transition duration-300 ease-in-out", is_page_active?(organizations_reports_path) ? "text-primary font-semibold border-b-2 border-primary": "hover:text-primary text-gray-600") %>
        <% end %>
      </div>
      <div class="flex items-center divide-x divide-gray-100 space-x-4">
        <%= render partial: "shared/language_picker" %>
        <%= render partial: "shared/user_dropdown" %>
      </div>
      <div class="lg:hidden p-6 lg:p-8">
        <%= render PhlexUI::Popover.new(options: { placement: "bottom-end" }) do %>
          <%= render PhlexUI::Popover::Trigger.new(class: "w-full flex flex-row justify-between items-center gap-x-8") do %>
            <i class="uc-icon text-xl text-gray-600">&#xe80d;</i>
          <% end  %>
          <%= render PhlexUI::Popover::Content.new(class: "divide-y divide-gray-50 w-48") do %>
            <%= render PhlexUI::Link.new(href: time_regs_path, variant: :ghost, class: "w-full hover:bg-gray-100 flex justify-start pl-2 pr-4") do %>
              <div class="w-full flex justify-start items-center gap-x-1">
                <%= render PhlexUI::Label.new { "Home"} %>
              </div>
            <% end %>
            <% if current_user.organization_admin? %>
              <%= render PhlexUI::Link.new(href: workspace_projects_path, variant: :ghost, class: "w-full hover:bg-gray-100 flex justify-start pl-2 pr-4") do %>
                <div class="w-full flex justify-start items-center gap-x-1">
                  <%= render PhlexUI::Label.new { "Workspace"} %>
                </div>
              <% end %>
            <% end %>
            <%= render PhlexUI::Link.new(href: organizations_reports_path, variant: :ghost, class: "w-full hover:bg-gray-100 flex justify-start pl-2 pr-4") do %>
              <div class="w-full flex justify-start items-center gap-x-1">
                <%= render PhlexUI::Label.new { "Organization Reports"} %>
              </div>
            <% end %>
            <%= render PhlexUI::Link.new(href: edit_user_registration_path, variant: :ghost, class: "w-full hover:bg-gray-100 flex justify-start pl-2 pr-4") do %>
              <div class="w-full flex justify-start items-center gap-x-1">
                <i class="uc-icon text-base text-gray-500">&#xebb2;</i>
                <%= render PhlexUI::Label.new { "Edit account"} %>
              </div>
            <% end %>
            <%= render ButtonComponent.new(path: destroy_user_session_path, method: :delete, variant: :ghost, class: "w-full hover:bg-gray-100 flex justify-start pl-2 pr-4") do %>
              <div class="w-full flex justify-start items-center gap-x-1">
                <i class="uc-icon text-base text-gray-500">&#xe978;</i>
                <%= render PhlexUI::Label.new { "Sign out"} %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="flex items-center gap-x-6 p-6 lg:p-8">
        <%= link_to "Register", new_registration_path(resource_name), class: "text-gray-600 hover:text-primary font-medium" %>
        <%= link_to "Login", new_user_session_path ,  class: "text-gray-600 hover:text-primary font-medium" %>
      </div>
    <% end %>
  </nav>
</header>
