<% content_for :base_layout do %>
  <%= render "layouts/navbar" if user_signed_in? %>
  <main>
    <%= yield %>
  </main>
  <%= content_tag(:footer, class: class_names("print:hidden bottom-0 h-16 items-center flex flex-col gap-y-4 space-x-2 justify-center w-full text-center z-0", "fixed pb-8": user_signed_in?)) do %>
    <%# TODO: Let's configure this the same way `flash_messages` are used in `base.html.erb`, let it be a shareable banner and trigger it with turbo %>
    <%- if @active_time_reg %>
      <%= render BannerComponent.new(title: "Notice", message: t("time_regs.active_timer_description"), variant: :warning, dismissible: false, action: { url: root_path(date: @active_time_reg.date_worked), method: :get }) %>
    <% end %>
    <%= content_tag(:div, class: class_names("flex justify-between items-center w-full section-container": !user_signed_in?)) do %>
      <%= content_tag(:span, class: class_names("hidden": user_signed_in?)) do %>
        Contact us at <%= link_to "contact@stemplin.com", "mailto:contact@stemplin.com", class: "underline text-primary-600 font-medium" %>
      <% end %>
      <span class="font-regular text-sm text-gray-600">Stemplin <%= Date.current.year %></span>
    <% end %>
  <% end %>
<% end %>

<%= render template: "layouts/base" %>
