<!DOCTYPE html>
<html>
  <head data-controller="refresh-minutes" data-refresh-minutes-active-value="true" data-refresh-minutes-minutes-value=<%= @active_time_reg&.current_minutes %> data-refresh-minutes-format-value="HH:mm" >
    <% if @active_time_reg %>
      <title data-refresh-minutes-target="title minutes">
        <%= format_duration(@active_time_reg&.current_minutes) %> | Stemplin
      </title>
    <% else %>
      <title>
        <%= content_for?(:title) ? yield(:title) + " | Stemplin" : "Stemplin" %>
      </title>
    <% end %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= turbo_refresh_method_tag :morph %>
    <%= turbo_refresh_scroll_tag :preserve %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": Rails.env.production? ? "reload" : "" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16665735973"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'AW-16665735973');
    </script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <%= favicon_link_tag "stemplin-ico-squared.svg" %>

    <%= render partial: "layouts/pwa_meta_tags" %>
    <%= render partial: "layouts/description_meta_tags" %>
    <%= clarity_tracker if Rails.env.production? %>
    <% if Rails.env.production? %>
      <script>
          !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.crossOrigin="anonymous",p.async=!0,p.src=s.api_host.replace(".i.posthog.com","-assets.i.posthog.com")+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="init Re Ms Fs Pe Rs Cs capture Ve calculateEventProperties Ds register register_once register_for_session unregister unregister_for_session zs getFeatureFlag getFeatureFlagPayload isFeatureEnabled reloadFeatureFlags updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures on onFeatureFlags onSurveysLoaded onSessionId getSurveys getActiveMatchingSurveys renderSurvey canRenderSurvey canRenderSurveyAsync identify setPersonProperties group resetGroups setPersonPropertiesForFlags resetPersonPropertiesForFlags setGroupPropertiesForFlags resetGroupPropertiesForFlags reset get_distinct_id getGroups get_session_id get_session_replay_url alias set_config startSessionRecording stopSessionRecording sessionRecordingStarted captureException loadToolbar get_property getSessionProperty Ls As createPersonProfile Ns Is Us opt_in_capturing opt_out_capturing has_opted_in_capturing has_opted_out_capturing is_capturing clear_opt_in_out_capturing Os debug I js getPageViewId captureTraceFeedback captureTraceMetric".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
          posthog.init('phc_8lkzL0rRqDP9HPSncpBKrRNK7BiN4PmxxQO4VNmprPo', {
              api_host: 'https://posthog.rubynor.com',
              defaults: '2025-05-24',
              person_profiles: 'identified_only', // or 'always' to create profiles for anonymous users as well
          })
      </script>
    <% end %>
  </head>
  <body class="font-montserrat">
    <%= highlight_missing_translations if Rails.env.development? %>
    <%= render partial: "shared/flash_messages" %>
    <%= render AlertDialogComponent.new %>

    <%= yield :base_layout %>
    <%= render "shared/cookie_consent" %>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
  </body>
</html>
