<!DOCTYPE html>
<html>
  <head>
    <title>Stemplin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= turbo_refresh_method_tag :morph %>
    <%= turbo_refresh_scroll_tag :preserve %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= hotwire_livereload_tags if Rails.env.development? %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <%= favicon_link_tag "logo.svg" %>
    <%= render partial: "layouts/pwa_meta_tags" %>
    <%= clarity_tracker if Rails.env.production? %>
  </head>
  <body class="font-montserrat">
    <%= highlight_missing_translations if Rails.env.development? %>
    <%= render partial: "shared/flash_messages" %>
    <main>
      <div class="grid grid-cols-1 lg:grid-cols-2 h-screen">
        <div class="bg-gray-50 h-full relative">
          <div class="absolute top-0 left-0 w-full">
            <div class="flex w-full justify-end max-w-xl mx-auto p-4 lg:pt-12">
              <%= render partial: "shared/language_picker" %>
            </div>
          </div>
          <div class="max-w-xl mx-auto h-full flex items-center p-4">
            <%= yield %>
          </div>
        </div>
        <div class="hidden lg:block shadow-xl auth-illustration-wrapper relative">
          <div class="max-w-xl mx-auto p-4 flex flex-col justify-center items-center h-full">
            <%= image_tag "feature.svg" %>
            <div class="absolute bottom-8">
              <div class="max-w-xl mx-auto h-full flex flex-col gap-y-4 text-center p-4">
                <span class="text-white text-3xl font-bold"><%= t("login_page.streamline_your_workflow") %></span>
                <span class="text-white text-base font-regular"><%= t("login_page.app_summary") %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
